/* Frame 1321316508 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 16px 108px;
gap: 8px;

width: 1440px;
height: 815px;

background: #FFFFFF;

/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;
z-index: 3;


/* Frame 56022 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 1238px;
height: 775px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Blog Post Responsive */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 8px 0px;
gap: 8px;

width: 1238px;
height: 155px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Line 144 */

width: 1238px;
height: 0px;

/* Primary V2/SurfaceShade */
border: 1px solid #CBCACA;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Text */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 8px 0px;

width: 1238px;
height: 131px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Post Copy */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 9px;

width: 1238px;
height: 115px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Details */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: flex-start;
padding: 0px;
gap: 657px;

width: 1238px;
height: 22px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Info */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 8px;

width: 252px;
height: 19.76px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* S&P Global Market Intelligence */

width: 252px;
height: 21px;

/* Body 1/Bold */
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 21px;
/* identical to box height */
display: flex;
align-items: center;

/* Primary V2/Lighest Shade Text */
color: #888888;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* January 21, 2926 (8 hours, 58 minutes ago) */

width: 314px;
height: 22px;

/* Body 2/Bold */
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 22px;
/* identical to box height, or 138% */
display: flex;
align-items: center;
text-align: right;

/* Primary V2/Lighest Shade Text */
color: #888888;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Title */

width: 860.29px;
height: 24px;

/* Header/H5 */
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 24px;
display: flex;
align-items: flex-end;
letter-spacing: -0.28px;

color: #000000;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 1321316509 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 24px;
gap: 9px;

width: 1238px;
height: 51px;


/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Body */

width: 1190px;
height: 21px;

/* Body 1/Reg */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
/* identical to box height */
display: flex;
align-items: flex-end;

/* Primary V2/Light Shade Text */
color: #4F4F4F;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Body */

width: 1190px;
height: 21px;

/* Body 1/Reg */
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 21px;
/* identical to box height */
display: flex;
align-items: flex-end;

/* Primary V2/Light Shade Text */
color: #4F4F4F;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Blog Post Responsive */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 8px 0px;
gap: 8px;

width: 1238px;
height: 155px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Line 144 */

width: 1238px;
height: 0px;

/* Primary V2/SurfaceShade */
border: 1px solid #CBCACA;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Text */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 8px 0px;

width: 1238px;
height: 131px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Post Copy */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 9px;

width: 1238px;
height: 115px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Details */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: flex-start;
padding: 0px;
gap: 657px;

width: 1238px;
height: 22px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Info */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 8px;

width: 252px;
height: 19.76px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* S&P Global Market Intelligence */

width: 252px;
height: 21px;

/* Body 1/Bold */
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 21px;
/* identical to box height */
display: flex;
align-items: center;

/* Primary V2/Lighest Shade Text */
color: #888888;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* January 21, 2926 (8 hours, 58 minutes ago) */

width: 314px;
height: 22px;

/* Body 2/Bold */
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 22px;
/* identical to box height, or 138% */
display: flex;
align-items: center;
text-align: right;

/* Primary V2/Lighest Shade Text */
color: #888888;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Title */

width: 860.29px;
height: 24px;

/* Header/H5 */
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 24px;
display: flex;
align-items: flex-end;
letter-spacing: -0.28px;

color: #000000;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 1321316509 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 24px;
gap: 9px;

width: 1238px;
height: 51px;


/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Body */

width: 1190px;
height: 21px;

/* Body 1/Reg */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
/* identical to box height */
display: flex;
align-items: flex-end;

/* Primary V2/Light Shade Text */
color: #4F4F4F;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Body */

width: 1190px;
height: 21px;

/* Body 1/Reg */
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 21px;
/* identical to box height */
display: flex;
align-items: flex-end;

/* Primary V2/Light Shade Text */
color: #4F4F4F;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Blog Post Responsive */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 8px 0px;
gap: 8px;

width: 1238px;
height: 155px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Line 144 */

width: 1238px;
height: 0px;

/* Primary V2/SurfaceShade */
border: 1px solid #CBCACA;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Text */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 8px 0px;

width: 1238px;
height: 131px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Post Copy */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 9px;

width: 1238px;
height: 115px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Details */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: flex-start;
padding: 0px;
gap: 657px;

width: 1238px;
height: 22px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Info */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 8px;

width: 252px;
height: 19.76px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* S&P Global Market Intelligence */

width: 252px;
height: 21px;

/* Body 1/Bold */
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 21px;
/* identical to box height */
display: flex;
align-items: center;

/* Primary V2/Lighest Shade Text */
color: #888888;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* January 21, 2926 (8 hours, 58 minutes ago) */

width: 314px;
height: 22px;

/* Body 2/Bold */
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 22px;
/* identical to box height, or 138% */
display: flex;
align-items: center;
text-align: right;

/* Primary V2/Lighest Shade Text */
color: #888888;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Title */

width: 860.29px;
height: 24px;

/* Header/H5 */
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 24px;
display: flex;
align-items: flex-end;
letter-spacing: -0.28px;

color: #000000;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 1321316509 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 24px;
gap: 9px;

width: 1238px;
height: 51px;


/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Body */

width: 1190px;
height: 21px;

/* Body 1/Reg */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
/* identical to box height */
display: flex;
align-items: flex-end;

/* Primary V2/Light Shade Text */
color: #4F4F4F;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Body */

width: 1190px;
height: 21px;

/* Body 1/Reg */
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 21px;
/* identical to box height */
display: flex;
align-items: flex-end;

/* Primary V2/Light Shade Text */
color: #4F4F4F;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Blog Post Responsive */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 8px 0px;
gap: 8px;

width: 1238px;
height: 155px;


/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* Line 144 */

width: 1238px;
height: 0px;

/* Primary V2/SurfaceShade */
border: 1px solid #CBCACA;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Text */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 8px 0px;

width: 1238px;
height: 131px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Post Copy */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 9px;

width: 1238px;
height: 115px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Details */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: flex-start;
padding: 0px;
gap: 657px;

width: 1238px;
height: 22px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Info */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 8px;

width: 252px;
height: 19.76px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* S&P Global Market Intelligence */

width: 252px;
height: 21px;

/* Body 1/Bold */
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 21px;
/* identical to box height */
display: flex;
align-items: center;

/* Primary V2/Lighest Shade Text */
color: #888888;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* January 21, 2926 (8 hours, 58 minutes ago) */

width: 314px;
height: 22px;

/* Body 2/Bold */
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 22px;
/* identical to box height, or 138% */
display: flex;
align-items: center;
text-align: right;

/* Primary V2/Lighest Shade Text */
color: #888888;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Title */

width: 860.29px;
height: 24px;

/* Header/H5 */
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 24px;
display: flex;
align-items: flex-end;
letter-spacing: -0.28px;

color: #000000;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 1321316509 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 24px;
gap: 9px;

width: 1238px;
height: 51px;


/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Body */

width: 1190px;
height: 21px;

/* Body 1/Reg */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
/* identical to box height */
display: flex;
align-items: flex-end;

/* Primary V2/Light Shade Text */
color: #4F4F4F;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Body */

width: 1190px;
height: 21px;

/* Body 1/Reg */
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 21px;
/* identical to box height */
display: flex;
align-items: flex-end;

/* Primary V2/Light Shade Text */
color: #4F4F4F;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Blog Post Responsive */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 8px 0px;
gap: 8px;

width: 1238px;
height: 155px;


/* Inside auto layout */
flex: none;
order: 4;
flex-grow: 0;


/* Line 144 */

width: 1238px;
height: 0px;

/* Primary V2/SurfaceShade */
border: 1px solid #CBCACA;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Text */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 8px 0px;

width: 1238px;
height: 131px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Post Copy */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 9px;

width: 1238px;
height: 115px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Details */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: flex-start;
padding: 0px;
gap: 657px;

width: 1238px;
height: 22px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Info */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 8px;

width: 252px;
height: 19.76px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* S&P Global Market Intelligence */

width: 252px;
height: 21px;

/* Body 1/Bold */
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 21px;
/* identical to box height */
display: flex;
align-items: center;

/* Primary V2/Lighest Shade Text */
color: #888888;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* January 21, 2926 (8 hours, 58 minutes ago) */

width: 314px;
height: 22px;

/* Body 2/Bold */
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 22px;
/* identical to box height, or 138% */
display: flex;
align-items: center;
text-align: right;

/* Primary V2/Lighest Shade Text */
color: #888888;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Title */

width: 860.29px;
height: 24px;

/* Header/H5 */
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 24px;
display: flex;
align-items: flex-end;
letter-spacing: -0.28px;

color: #000000;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 1321316509 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 24px;
gap: 9px;

width: 1238px;
height: 51px;


/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Body */

width: 1190px;
height: 21px;

/* Body 1/Reg */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
/* identical to box height */
display: flex;
align-items: flex-end;

/* Primary V2/Light Shade Text */
color: #4F4F4F;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Body */

width: 1190px;
height: 21px;

/* Body 1/Reg */
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 21px;
/* identical to box height */
display: flex;
align-items: flex-end;

/* Primary V2/Light Shade Text */
color: #4F4F4F;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
